<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<dialog th:fragment="contact" class="modal" id="contact-modal">
  <button id="close-contact" class="close">❌</button>
  <form th:action="@{/login}" th:object="${user}" method="POST" id="login-form" class="modal-form2">

    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name..">

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

    <label for="subject">Subject</label>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

    <input type="submit" value="Submit">
  </form>
</dialog>>
</html>