<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<dialog th:fragment="editChart" class="modal-wide" id="edit-chart-modal">
    <button id="close-edit-chart">❌</button>
    <form method="dialog" class="modal-form">
        <label for="body-fat-date">Date:</label><br>
        <input id="body-fat-date" type="date"><br>
        <label for="body-fat-info">Body Fat Percentage:</label><br>
        <input id="body-fat-info" type="number" min="0" max="60">
        <br>
        <button id="add-body-fat">Submit</button>
    </form>
</dialog>
</html>