<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<dialog th:fragment="fatigue" class="modal" id="fatigue-modal">
    <button id="close-fatigue">❌</button>
    <form method="dialog" class="modal-form">
        <label for="fatigue-date">Day:</label>
        <select id="fatigue-date">
            <option value="0">Today</option>
            <option value="1">Yesterday</option>
            <option value="2">2 Days Ago</option>
            <option value="3">3 Days Ago</option>
            <option value="4">4 Days Ago</option>
            <option value="5">5 Days Ago</option>
            <option value="6">6 Days Ago</option>
        </select>&nbsp;&nbsp;<br>
        <label for="fatigue-rating">Fatigue Rating</label>
        <select id="fatigue-rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="0">0</option>
        </select><br>
        <button id="add-fatigue">Submit</button>
    </form>
</dialog>
</html>