<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<dialog th:fragment="injury" class="modal-wide" id="injury-modal">
    <button id="close-injury">❌</button>
    <div class="client-card">
        <div>Status: Current</div>
        <hr>
        <div>Date entered: 4/7/23</div>
        <hr>
        <div>Minor Pec Strain</div>
        <hr>
        <div>Description:</div>
        <div> I feel discomfort in my shoulder when ever I lift my arm away from my body. I felt a sharp pain doing cable fly's and it has be persisting ever since.</div>

    </div>
    <button id="edit-injury">Edit</button>
</dialog>
</html>