<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<dialog  th:fragment="login" class="modal" id="login-modal">
    <button id="close-login" class="close">❌</button>
    <div th:if="${param.error}">
        Invalid Username and Password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>
    <form th:action="@{/login}" th:method="POST" id="login-form" class="modal-form2">
        <label for="username">Username:</label><br>
        <input id="username" type="text" name="username"><br><br>
        <label for="password2">Password:</label><br>
        <input id="password2" name="password" type="password"><br><br>
        <button class="button">Login</button>
    </form>
</dialog>
</html>