<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<dialog th:fragment="login" class="modal" id="login-modal">
    <button id="close-login" class="close">❌</button>
    <form method="dialog" id="login-form" class="modal-form2">
        <label for="email2">Email:</label><br>
        <input id="email2" type="text"><br>
        <label for="password2">Password:</label><br>
        <input id="password2" type="text"><br>
        <button class="button">Login</button>
    </form>
</dialog>
</html>