<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="myClients" id="myClients" class="tabcontent">
  <form id="client-search">
    <input   class="search" type="text" placeholder="Client">
    <button class="search-button">Search</button>
  </form>
  <div id="client-holder">
    <div>
      <div class="client-card">
        <div>Username</div>
        <hr>
        <div>First name</div>
        <hr>
        <div>Last name</div>
        <hr>
        <div>first.Last@email.com</div>
        <hr>
        <div>Bio</div>
      </div>
    </div>
    <div>
      <div class="client-card">
        <div>Username</div>
        <hr>
        <div>First name</div>
        <hr>
        <div>Last name</div>
        <hr>
        <div>first.Last@email.com</div>
        <hr>
        <div>Bio</div>
      </div>
    </div>
    <div>
      <div class="client-card">
        <div>Username</div>
        <hr>
        <div>First name</div>
        <hr>
        <div>Last name</div>
        <hr>
        <div>first.Last@email.com</div>
        <hr>
        <div>Bio</div>
      </div>
    </div>
    <div>
      <div class="client-card">
        <div>Username</div>
        <hr>
        <div>First name</div>
        <hr>
        <div>Last name</div>
        <hr>
        <div>first.Last@email.com</div>
        <hr>
        <div>Bio</div>
      </div>
    </div>
    <div>
      <div class="client-card">
        <div>Username</div>
        <hr>
        <div>First name</div>
        <hr>
        <div>Last name</div>
        <hr>
        <div>first.Last@email.com</div>
        <hr>
        <div>Bio</div>
      </div>
    </div>
  </div>
</div>
</html>