<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--    <ul th:fragment="navbar" id="nav-bar" >-->
<!--        <li><a href="/about">About</a></li>-->
<!--        <li th:if="${isAuthenticated}"><a href="/home">Profile</a></li>-->
<!--&lt;!&ndash;        link once mvp is done  <li><a href="">Find a Coach</a></li>&ndash;&gt;-->
<!--        <li th:if="${isAuthenticated}"><a href="/">Logout</a></li>-->
<!--&lt;!&ndash;        link once mvp is done <li ><a href="">Contact</a></li>&ndash;&gt;-->
<!--        <li th:unless="${isAuthenticated}" id="open-login" class="form">Login</li>-->
<!--        <li th:unless="${isAuthenticated}" id="open-register" class="form"><a href="/register">Register</a></li>-->
<!--    </ul>-->
<head>
    <style>
        @import url("https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&display=swap");
        *{
            font-family: "Carrois Gothic SC", sans-serif;
        }

    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.0-beta2/css/bootstrap.min.css">

</head>
<body>
<ul class="nav" th:fragment="navbar" id="nav-bar">
    <li class="nav-item">
        <img class="nav-link active" src="/img/whitewatermark.png" alt="watermark">
    </li>
    <li class="nav-item mt-5">
        <a class="nav-link active" aria-current="page" href="/about" style="color: whitesmoke ; font-size: 20px">About</a>
    </li>
    <li class="nav-item mt-5" th:if="${isAuthenticated}">
        <a class="nav-link" style="color: whitesmoke ; font-size: 20px" href="/home">Profile</a>
    </li>
    <li class="nav-item mt-5" th:if="${isAuthenticated}">
        <a class="nav-link" style="color: whitesmoke ; font-size: 20px" href="/">Logout</a>
    </li>
    <li class="nav-item form mt-5" th:unless="${isAuthenticated}" id="open-login" style="color: whitesmoke">
        <a class="nav-link form" style="color: whitesmoke ; font-size: 20px" href="/login">Login</a>
    </li>
    <li class="nav-item mt-5" th:unless="${isAuthenticated}" id="open-register">
        <a class="nav-link" href="/register" style="color: whitesmoke ; font-size: 20px">Register</a>
    </li>
</ul>

<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Bootstrap JavaScript -->
<!--test-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.0-beta2/js/bootstrap.min.js"></script>
</body>
</html>

