<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <ul th:fragment="navbar" id="nav-bar" >
        <li><a href="/home">Home</a></li>
<!--        link once mvp is done  <li><a href="">Find a Coach</a></li>-->
        <li th:if="${isAuthenticated}"><a href="/">Logout</a></li>
<!--        link once mvp is done <li ><a href="">Contact</a></li>-->
        <li th:unless="${isAuthenticated}" id="open-login" class="form">Login</li>
        <li th:unless="${isAuthenticated}" id="open-register" class="form"><a href="/register">Register</a></li>
    </ul>
</html>