<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="program" id="program" class="tabcontent">
    <div id="program-holder">
        <!--                <div   id="program-header">Program</div><br>-->
        <div id="program-edit">
            <div id="program-input-form">
                <!--                <div class="stats-title">Fatigue Rating:</div>z-->
                <label for="program-input"  id="profile-input-label" class="program-subheader">Edit</label><br>
                <input type="text" id="program-input" placeholder="Copy & Paste link here!">
                <button id="program-input-button">add</button >
            </div>
            <form id="program-selection-form">
                <label for="program-selection"  id="profile-section-label" class="program-subheader">Select</label><br>
                <!--                <div class="stats-title">Fatigue Rating:</div>z-->
                <select id="program-selection">
                    <option class="program" value="-1">Add Program</option>
                    <option class="program" value="0">yyyy-mm-dd (current)</option>
                    <option class="program">2023-04-19</option>
                </select>
            </form>
        </div>
        <button class="tablinks"><a id="program-button" href="https://docs.google.com/spreadsheets/d/1QS4v3Cp_yAYcZDhlFfuECqUV84Wvex69/edit#gid=122619846">Program</a></button>
    </div>
</div>
</html>