<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<dialog th:fragment="register" class="modal" id="register-modal">
  <button id="close-register" class="close">❌</button>
  <form th:action="@{/home}" th:object="${user}" method="POST" id="register-form" class="modal-form">
    <label for="role">Role:</label>
    <select id="role" name="role">
      <option value=true>Coach</option>
      <option value=false>Client</option>
    </select><br><br>
    <label for="firstName">First Name:</label><br>
    <input id="firstName"  th:field="*{firstName}"/><br>
    <label for="lastName">Last Name:</label><br>
    <input id="lastName" th:field="*{lastName}"/><br>
    <label for="email">Email:</label><br>
    <input id="email" th:field="*{email}"/><br>
    <label for="userName">Username:</label><br>
    <input id="userName" th:field="*{username}"/><br>
    <label for="password">Password:</label><br>
    <input id="password" th:field="*{password}"/><br>
    <button type="submit" class="button">Register</button>
  </form>
</dialog>
</html>