<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Coach's Corner</title>
    <link href="../css/profile.css" rel="stylesheet">
    <link href="../css/layout.css" rel="stylesheet">
</head>
<body>

<div class="page-wrapper">
    <div th:replace="partials/navbar :: navbar(isAuthenticated=${#authentication.principal != 'anonymousUser'})" ></div>
    <div id="add-injury-holder">
    <form th:action="@{/add-injury/{id}(id=${user.id})}" th:object="${injury}" th:method="Post" id="add-injury-form" class="modal-form" >
    <div class="edit-heading">Add Injury</div>
        <label for="status">Status:</label><br>
        <select id="status" name="status">
            <option value=active>Active</option>
            <option value=past>Past</option>
        </select><br><br>
        <label for="title">Title:</label><br>
        <input type="text" id="title"  th:field="*{title}"><br><br>
        <label for="injury-date">Injury Date:</label><br>
        <input  id="injury-date" type="date"  th:field="*{injuryDate}"><br><br>
        <label for="description">Description:</label><br>
<!--        <input type="text" id="description" th:field="*{description}">-->
        <textarea id="description" style="width: 442px; height: 186px" th:field="*{description}"></textarea><br><br>
        <!--    <input type="number" id="status"  th:field="*{status}"><br>-->
        <!--    <input type="hidden" id="user-id" th:value="${userId}" th:field="*{userId}" ><br>-->
        <button>Submit</button>
    </form>
    </div>
</div>
</body>
</html>