<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--    <link href="css/profile.css" rel="stylesheet">-->
<!--    <link href="css/layout.css" rel="stylesheet">-->
</head>
<body>
<div id="createClients" class="tabcontent">
    <fieldset class=" create-user">
        <form th:action="@{/client}" th:object="${user}" th:method="POST" id="newClient" class="create-user-form">
<!--            <label for="firstName">First Name:</label><br>-->
<!--            <input type="text" th:field="*{username}" placeholder="Username" id="newUsername"><br>-->
<!--            <label for="role">Role:</label>-->
<!--            <select id="clientRole" name="role" >-->
<!--                <option  value=false>Client</option>-->
<!--            </select><br><br> -->
            <input type="hidden" value="false" name="role" id="role">
            <label for="firstName">First Name:</label><br>
            <input type="text" th:field="*{firstName}" placeholder="First name" id="firstName"><br>
            <label for="lastName">Last Name</label><br>
            <input type="text" th:field="*{lastName}" placeholder="Last name" id="lastName"><br>
            <label for="email">email:</label><br>
            <input type="text" th:field="*{email}" placeholder="email" id="email"><br>
            <input type="hidden" value="true" name="isActive" id="isActive">
            <button class="search-button">add</button>
        </form>
    </fieldset>
</div>
</body>
</html>