<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Coach's Corner</title>
    <link href="../css/profile.css" rel="stylesheet">
    <link href="../css/layout.css" rel="stylesheet">
</head>
<body>

<div class="page-wrapper">
    <div th:replace="partials/navbar :: navbar(isAuthenticated=${#authentication.principal != 'anonymousUser'})" ></div>
<div id="edit-client-holder">
<form th:action="@{/client-edit/{id}(id=${user.id})}" th:method="POST" id="edit-client-form" class="modal-form">
<div class="edit-heading">Client Edit</div>
    <label for="first-name">First Name:</label><br>
    <input id="first-name" type="text" name="firstname" th:value="${user.firstName}"><br>
    <label for="last-name">Last Name:</label><br>
    <input id="last-name" type="text" name="lastname" th:value="${user.lastName}"><br>
    <label for="email">Email:</label><br>
    <input id="email" type="text" name="email" th:value="${user.email}"><br><br>
    <button>Submit</button>
</form>
</div>
</div>
</body>
</html>