<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <meta th:name="loggedInId" th:content="${user.id}"/>
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta th:name="view" th:content="${user.getId()}"/>
    <title>Coach's Corner</title>
    <link href="css/profile.css" rel="stylesheet">
    <link href="css/layout.css" rel="stylesheet">
    <script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="page-wrapper">
        <div th:replace="partials/navbar :: navbar(isAuthenticated=${#authentication.principal != 'anonymousUser'})" ></div>
        <div id="profile-section">
            <div id="profile-pic"><img th:src="${user.getProfilePicture()}">
                <button  id="settings-button" class="tablinks" onclick="openCity(event, 'settings')">Settings</button>
            </div>
            <div id="profile-info">
                <div th:text="${user.username}"></div>
                <div th:text="${user.email}"></div>
<!--                <button  id="profile-button" class="profile-button" th:action="@{/edit/{id}(id=${user.id})}">Edit Account</button>-->
            </div>
        </div>
        <hr id="main-hr">
        <!-- Tab links -->
        <div class="tab">
            <button class="tablinks" onclick="openCity(event, 'myClients')" id="defaultOpen">My Clients</button>
<!--            <button class="tablinks" onclick="openCity(event, 'Personal-Stats')">Personal Stats</button>-->
            <button class="tablinks"><a id="program-button" href="https://docs.google.com/spreadsheets/d/1QS4v3Cp_yAYcZDhlFfuECqUV84Wvex69/edit#gid=122619846">Program</a></button>
<!--            <button class="tablinks" onclick="openCity(event, 'settings')">Settings</button>-->
        </div>
        <div th:replace="partials/myClients :: myClients"></div>
        <div th:replace="partials/personalStats :: personalStats"></div>
        <div th:replace="partials/fatigue :: fatigue"></div>
        <div th:replace="partials/sleep :: sleep"></div>
        <div th:replace="partials/chart :: bodyfat-chart"></div>
        <div th:replace="partials/chart :: bodyweight-chart"></div>
        <div th:replace="partials/chart :: squat-chart"></div>
        <div th:replace="partials/chart :: bench-chart"></div>
        <div th:replace="partials/chart :: deadlift-chart"></div>
        <div th:replace="partials/editChart :: editChart"></div>
        <div th:replace="partials/editChart :: editBodyWeightChart"></div>
        <div th:replace="partials/editChart :: editSquatChart"></div>
        <div th:replace="partials/editChart :: editBenchChart"></div>
        <div th:replace="partials/editChart :: editDeadlift"></div>
        <div th:replace="partials/injury :: injury"></div>
<!--        <div th:replace="partials/editInjury :: editInjury"></div>-->
        <div th:replace="partials/settings :: settings"></div>
    </div>
    <script src="/js/profile.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/js/userGraphs.js"></script>
    <script src="/js/clientsList.js"></script>
    <script src="/js/crudGraphs.js"></script>
    <script th:src="@{/js/fileStackAPI.js}" type="module"></script>
</body>
</html>
