<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="css/layout.css" rel="stylesheet">
    <link href="css/home.css" rel="stylesheet">
    <script src="js/home.js"></script>
</head>
<body>
<div class="page-wrapper">
    <div th:replace="partials/navbar :: navbar"></div>
<div id="header"> Coach's Corner</div>
    <div id="symbol-center">
    <img src="img/CC%20example.png" id="symbol"/>
    </div>

<p id="verbiage">Fitness coaches often struggle to manage clients effectively using multiple resources, which can lead to inefficiencies and lost time. Coaches Corner provides a comprehensive solution, including injury reporting and personalized coaching tools, to help coaches streamline their workflow and manage clients more efficiently. With Coaches Corner, fitness coaches can focus on delivering quality coaching, while our platform handles the administrative tasks, saving time and improving overall efficiency.
</p>
<!--    <div th:replace="partials/register :: register"></div>-->
    <div th:replace="partials/login :: login"></div>
</div>
</body>
</html>