<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Title</title>
    <link href="css/layout.css" rel="stylesheet">
    <link href="css/home.css" rel="stylesheet">
    <script src="js/home.js"></script>
    <script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div class="page-wrapper">
    <div th:replace="partials/navbar :: navbar"></div>
    <div id="header"> Coach's Corner</div>
    <div id="symbol-center">
        <img src="img/CC%20example.png" id="symbol"/>
    </div>

<!--    <p id="verbiage">Fitness coaches often struggle to manage clients effectively using multiple resources, which can lead to inefficiencies and lost time. Coaches Corner provides a comprehensive solution, including injury reporting and personalized coaching tools, to help coaches streamline their workflow and manage clients more efficiently. With Coaches Corner, fitness coaches can focus on delivering quality coaching, while our platform handles the administrative tasks, saving time and improving overall efficiency.-->
<!--    </p>-->
    <dialog open class="modal" id="register-model" >
    <button id="close-register" class="close"><a href="/">❌</a>
    </button>
    <form th:action="@{/register}" th:object="${user}" method="POST" id="register-form" class="modal-form">
        <label for="role">Role:</label>
        <select id="role" name="role">
            <option value=true>Coach</option>
            <option value=false>Client</option>
        </select><br><br>
        <label for="firstName">First Name:</label><br>
        <input id="firstName"  th:field="*{firstName}"/><br><br>
        <label for="lastName">Last Name:</label><br>
        <input id="lastName" th:field="*{lastName}"/><br><br>
        <label for="email">Email:</label><br>
        <input id="email" th:field="*{email}"/><br><br>
        <label for="userName">Username:</label><br>
        <input id="userName" th:field="*{username}"/><br><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" th:field="*{password}"/><br><br>
        <label for="user-input">Profile Picture:</label><br>
        <input type="text" id="user-input" th:field="*{profilePicture}"/>
        <!--        button for profile picture -->
        <button type="button" id="upload-btn">Upload photo</button><br><br>
        <!--        button end-->
        <button type="submit" class="button">Register</button>
        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="background: red"></p>
        <p th:if="${#fields.hasErrors('password')}" th:errors="*{email}" style="background: red"></p>
        <p th:if="${#fields.hasErrors('password')}" th:errors="*{username}" style="background: red"></p>
    </form>
    <!--    script for fileStackAPI-->
    <script th:src="@{/js/fileStackAPI.js}" type="module"></script>
    </dialog>
</div>
</body>
</html>